/* .button-container {
    display: flex;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;  
  }
  
  .custom-button {
    padding: 20px 40px; 
    font-size: 20px;  
    font-weight: bold;
   
    background-color: transparent;
   
    cursor: pointer;
    border-radius: 10px;  
    transition: all 0.3s ease-in-out;
    width: 250px; 
    height: 70px; 
    text-align: center;
  }
  
  .custom-button:hover {
    color: white;
  }
  

  .info-button {
    background-color: #888;
    color: white;
  }
  
  .info-button:hover {

  }
  
  .orders-button {
 
    color: white; 
    background-color: orange;
  }
  
  .orders-button:hover {

    color: white;
  }

  
  
 
  @media (max-width: 768px) {
    .custom-button {
      width: 200px;
      height: 60px;
      font-size: 18px;
      padding: 15px 30px;
    }
  }
  
  @media (max-width: 480px) {
    .button-container {
      flex-direction: column; 
      gap: 15px;
    }
  
    .custom-button {
      width: 180px;
      height: 55px;
      font-size: 16px;
      padding: 12px 25px;
    }
  }
   */


   